<div class="news_block-content">
    {% for n in news %}
        <div class="news_block-item">
            {% trans %}
                <h4><span class="news_block-item-title">Title:</span> {{ n.title }}</h4>
                <h4><span class="news_block-item-title">Subtitle:</span> {{ n.subtitle }}</h4>
                <h4><span class="news_block-item-title">Description:</span> {{ n.description }}</h4>
            {% endtrans %}
        </div>
    {% endfor %}
</div>
