.news_block-content{
    border: 2px solid #2F4F4F;
    padding: 10px;
}
.news_block-item{
    border: 2px solid #32CD32;
    background: #B0C4DE;
    margin: 10px 0 10px 0;
    padding:5px;
}
.news_block-item-title{
    color: #FF0000;
    font-weight: bold;
}
